<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
    <script src= "https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" ></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<link rel="stylesheet" href="/css/style.css" />
	<title>WebTech 2021</title>
</head>

<body>
	
<!-- Navigation -->

<nav class="navbar navbar-light bg-dark sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand logo" href="#"><img src="img/thumbup.png"></a> <div class="logo-titel"></div>  
		<h4><a  th:href="@{'/new'}"  id="add" class="btn btn-success" data-toggle="button" aria-pressed="false" autocomplete="off">{{addButton}}</a></h4>
	</div>
</nav>

<script>
	new Vue({
		el: "#add1",
		data: {
			addButton: 'Hinzufügen',
		}
	});

</script>

<div class="table-outside table-hover">
	<h3>Mitgliederliste</h3>
	<div class="col-sm-9 center margin">
		<div class="panel-body center padding" >
		<table class="table">
<thead class="thead-dark">
<tr>
	 <th>ID</th>
   <th>Name</th>
   <th>Vorname</th>
   <th>Alter</th>
   <th>Bearbeiten</th>
   <th>Entfernen</th>
</tr>
</thead>
<tbody>
<tr  th:each="customer : ${customers }">
<td th:text="${customer.id}">ID</td>
<td th:text="${customer.customername}">Name</td>
<td th:text="${customer.course}">Vorname</td>
<td th:text="${customer.fee}">Alter</td>				
<td>
   <a th:href="@{'/edit/' + ${customer.id}}" id="edit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Bearbeiten</a>
</td>							    
<td>
   <a th:href="@{'/delete/' + ${customer.id}}" id="delete" class="btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off">Entfernen</a>
</td>		    
</tr> 

</tbody>
</table>
		   
		</div>

   </div> 
</div>
<div class="footer">
	<p>Webtech 2021 - Eddy Klammer</p>
  </div>
</body>
</html>

<script>
	new Vue({
		el: "#add",
		data: {
			addButton: 'Hinzufügen',
		},
	});
</script>