<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
    <script src= "https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<link rel="stylesheet" href="/css/style.css" />
	<title>Neu / Bearbeiten</title>
</head>
<body>

<nav class="navbar navbar-light bg-dark sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand logo" href="#"><img src="/img/thumbup.png"></a> <div class="logo-titel"></div>  
		<h4><a  href="javascript:history.back()" id="cancel" class="btn btn-warning" data-toggle="button" aria-pressed="false" autocomplete="off">{{cancelButton}}</a></h4>
	</div>
</nav>

<div class="table-outside table-hover">
    <h3></h3>
     <div class="col-sm-4">
    <form @submit="vuecheck" action="#" th:action="@{/save}" th:object="${customer}" method="post">
 
      
 		<div alight="left">
            <tr>
                <label class="form-label" >Name</label>
                <td>
	                <input type="hidden" th:field="*{id}" />
	                <input type="text" th:field="*{customername}" class="form-control" placeholder="Name" required/>
                </td>
            </tr>
         </div>   
            
          	<div alight="left">
          
            <tr>
                 <label class="form-label" >Vorname</label>
                <td><input type="text" th:field="*{course}" class="form-control" placeholder="Vorname" required /></td>
            </tr>
            </div> 
            <div alight="left">
                 <tr>
                 <label class="form-label" >Alter</label>
                <td><input type="text" th:field="*{fee}" class="form-control" placeholder="Alter" required /></td>
            </tr>
            </div> 
			<br>
            <tr>
            <td colspan="2"><button type="submit" id="save" class="btn btn-success" data-toggle="button" aria-pressed="false" autocomplete="off">{{saveButton}}</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>

<script>
new Vue({
    el: "#cancel",
    data: {
        cancelButton: 'Abbrechen',
    },
});
new Vue({
    el: "#save",
    data: {
        saveButton: 'Speichern',
    }
});
</script>